:root {
    --primary-color: #152238;
}

* {
    margin: 0;
    padding: 0;
     
}

/* Start back to top */

.back-to-top{
    width: 40px;
    height: 40px;
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    border-radius: 50%;
}

/* Enn back to top */

/* Start Preloader Section */

.preloader {
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader>img {
    width: 300px;
    height: 300px;
}

header {
    height: 100vh;
    background: linear-gradient( 50deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

 

.navigations {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.navigations .signupbtns {
    height: 50px;
    display: block;
    padding: 0 25px;
    background-color: none;
    border: 2px solid white;
    font-size: 16px;
    margin: 0;
}

.navbuttons {
    background: none;
    border: none;
}

.navbuttons .lines1,
.navbuttons .lines2,
.navbuttons .lines3 {
    width: 28px;
    height: 3px;
    margin: 6px;
}

.crossxs .lines1 {
    transform: rotate(45deg) translate(5px, 15px);
}

.crossxs .lines2 {
    opacity: 0;
}

.crossxs .lines3 {
    transform: rotate(-45deg) translate(-4px, -8px);
}

.uppernavs {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    /* opacity: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
}

.uppernavs .menuitems {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}


/* .closesbtns {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
} */

.uppernavs hr {
    width: 400px;
    border-width: 2px;
    color: white;
    height: 5px;
}

#closebtns {
    position: absolute;
    top: 30px;
    left: 30px;
}


/* Start About Us Section */

.aboutuss {
    background: var(--primary-color);
}

.aboutuss .titles {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
}

.aboutuss .aboutimgs {
    width: 100%;
}

.borders{
    border: 1px solid red;
}

.fromlefts {
    animation-name: divleft;
    animation-duration: 1s;
}

.fromrights {
    animation-name: divright;
    animation-duration: 1s;
}

@keyframes divleft {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes divright {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.card {
    margin: auto;
    position: relative;
    overflow: hidden;
}

.aboutuss .card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: all 0.5s;
}

.aboutuss .card .cardtitles {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 22px;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
}

.aboutuss .card .cardtexts {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    transform: translateY(-100px);
    transition: all 0.5s;
}

.aboutuss .card:hover img {
    transform: scale(1.2);
}

.aboutuss .card:hover .cardtexts {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}


/* End About Us Section */


/* Start Members Section */

.members {
    background: var(--primary-color);
}

.members .membertitlestop {
    animation-name: titlestop;
    animation-duration: 0.5s;
    display: block;
}

.members .membertitlebottom {
    animation-name: titlesbottom;
    animation-duration: 0.5s;
    display: block;
}

@keyframes titlestop {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes titlesbottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.members .card {
    width: 300px;
    height: 420px;
    background: transparent;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    /* box-shadow: 10px 5px 10px #666; */
    transition: all 0.3s;
}

.members .card:hover {
    transform: translateY(-10px);
}


/* .members .slidemembers {
    padding: 0 30px;
} */

.members .card img {
    width: 100%;
    height: 300px;
    padding: 0 30px;
    object-fit: cover;
}

.members .card-footer {
    text-align: center;
    border: none;
}

.members .titles {
    width: 250px;
    height: 60px;
    display: inline-block;
    color: #000;
    background: #fff;
    text-align: center;
    line-height: 60px;
    position: relative;
}

.members .titles::before {
    content: "";
    width: 35px;
    height: 35px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    position: absolute;
    top: -10px;
    left: -10px;
    transition: all 0.5s;
}

.members .titles::after {
    content: "";
    width: 35px;
    height: 35px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    bottom: -10px;
    right: -10px;
    transition: all 0.5s;
}

.members .titles:hover::before {
    left: 90%;
    border-left: none;
    border-right: 2px solid white;
}

.members .titles:hover::after {
    right: 90%;
    border-right: none;
    border-left: 2px solid white;
}

.members .jks {
    text-align: center;
}

.members .owl-prev {
    font-size: 30px;
    color: white;
}


/* End  Members Section*/


/* Start Albums Section */

.albums {
    background-color: var(--primary-color);
}

 .albumsbtns {
    width: 500px;
    height: 60px;
    background: white;
    border: 1px solid skyblue;
    color: var(--primary-color);
    text-shadow: 2px 3px 5px var(--primary-color);
    line-height: 60px;
    position: relative;
    overflow: hidden;
}

.albumsbtns::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, skyblue, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.8s;
}

 .albumsbtns:hover::before {
    left: 100%;
}

.albumsbtns:hover {
    box-shadow: 1px 1px 25px 10px skyblue;
}

 .albumcards {
    width: 330px;
    height: 250px;
    /* border: 1px solid black; */
    /* margin: auto; */
    position: relative;
}

.albums .corvers {
    width: 170px;
    margin-top: 5px;
    position: absolute;
    top: -5%;
    left: 15%;
    z-index: 2;
}

.albums .corvers img {
    width: 160px;
    padding: 10px 0;
    transition: all 0.5s;
}

.albums img {
    width: 150px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    right: 15%;
}

.albums .albumcds {
    transition: all 1s;
}

.albums .albumcds:hover {
    transform: translateX(-60%);
}

.albums .albumtexts {
    position: absolute;
    bottom: 0;
}

.albums .albumsingers {
    text-align: center;
}

.albums .albumsingers .singerbtns {
    background: url("../assets/img/albums/btsedit.jpg");
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 50px;
    color: black;
    border-radius: 25%;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    border: 2px solid rgb(210, 180, 10);
    box-shadow: -1px -10px 0 rgb(210, 180, 10);
    margin: auto;
    transform: rotateX(25deg) rotateY(330deg);
    transition: all 1s;
}

.albums .albumsingers .singerbtns:hover {
    transform: scale(0);
}


/* End Albums Section */


/* Start Ticket Section */

.tickets {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/banner/schedule.jpg.crdownload");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tickets .tickettexts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tickets .orderbtns{
    width: 100%;
    background:rgb(210, 180, 10) ;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s;

}
.tickets .ticketsbtns input,.tickets .ticketsbtns button{
    width: 100%;
}

@media(max-width:768px){
    .tickets .ticketsbtns input,.tickets .ticketsbtns button{
        width: 50%;
        margin: auto;
    }
}

.tickets .ticketsbtns input:focus{
    box-shadow: none;
}

.tickets .orderbtns:hover{
    background: transparent;
    color: rgb(210, 180, 10);
    border: 2px solid white;
  
}


/* End Ticket Section */

/* Start Contact Section */

.contacts{
    background-color: var(--primary-color);
}

.contacts .phonenumbers a{
    text-decoration: none;
    color: grey;
}

.contacts .contacticons{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid white;
    margin: 25px 0;
    transform: rotate(45deg);
}

.contacts .contacticons i{
    transform: rotate(-45deg);
    text-align: center;
}

.contacts .contactforms input,.contacts .contactforms textarea{
    border: 1px solid grey;
    background-color: transparent;
    
}

.contacts .contactforms input:focus,.contacts .contactforms textarea:focus{
    box-shadow: none;
    color: grey;
}

.contactforms .sendmessagebtns{
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
    color: #f4f4f4;
    transition: all 0.5s;
    
    

}

.sendmessagebtns span{
    position: relative;
    transition: all 0.5s;
}

.sendmessagebtns span::after{
    content: '\f075';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s;

}
.sendmessagebtns:hover span::after{
    opacity: 1;
    
}

.sendmessagebtns:hover span{
    padding-right: 30px;
}

 
.contacts .maps .bhmaps{
    width: 100%;
    height: 100%;
     
}

/* End Contact Section */

/* Start Gallary Section */
.gallarys .gallarylists{
    color: var(--primary-color);
    text-shadow: 2px 0 2px skyblue;
    transition: all 0.3s;
    cursor: pointer;
}

.gallarys .gallarylists:hover{
    padding: 10px 0;
    border-bottom: 2px solid var(--primary-color); 
}

.gallarys .filters{
    margin: 3px 3px;
}

.gallarys .filters img{
    width: 300px;
    height: 200px;
}


/* End Gallary Section */


/* Start footer Section */
.footers{
    background:  linear-gradient(170deg,rgba(0,0,0,0.7) 30%,var(--primary-color) 40%),url('../assets/img/footer/footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.footers a{
    line-height: 2;
    
}

.footers li{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 40px;
    margin: 20px 10px;
}

.footers .ftcontacts hr{
    width: 150px;
    border: 1px solid white;
    color: #f4f4f4;
    transform: translateX(250px);
}

.footers .phones{
    text-decoration: none;
    color: white;
}

/* End Footer Section */